<!-- Footer Section -->
<link rel="stylesheet" href="../style/footer.css">
<footer class="footer">
    <div class="footer__impressum">
      <h2><u>Impressum:</u></h2>
      <p>
        <u>Subject:</u> Programming Exercises WS 21/22
        <br>
        <u>Topic:</u> Webshop Customerview
        <br>
        <u>Professor:</u> Ralf-Oiver Mevius
        <br>
        <u>Team-Member:</u> Mladen Vrani&#263;, Matr.No.: 1188510
        <br>
        <u>Team-Member:</u> Aleksandar Kosti&#263;, Matr.No.: 1134302
        <br>
        <u>Team-Member:</u> Stefan Vrani&#263;, Matr.No.: 1016307
      </p>
    </div>
    <div class="footer__kontakt">
      <h2><u>Kontakt:</u></h2>
      <p>
        <u> Mladen Vrani&#263;:</u> mvranic&#64;stud.fra-uas.de
        <br>
        <u> Aleksandar Kosti&#263;:</u> akostic&#64;stud.fra-uas.de
        <br>
        <u> Stefan Vrani&#263;:</u> vranic&#64;stud.fra-uas.de
      </p>
    </div>
  </footer>

  <div class="rights">
    <p>&#169; Team - <span id="currentYear"></span> | All rights reserved</p>
  </div>
  <script src="../script/footer.js"></script>